* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    color: #000;
}

h1 {
    letter-spacing: 4px;
    font-size: 36px;
    font-weight: 700;
    z-index: 1;
}

h2 {
    color: #999;
}

a:hover {
    cursor: pointer !important;
}

.row {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

}

.container {
    display: flex;
    justify-content: left;
    height: 100%;
    z-index: 3;
}

#logo {
    display: flex;
    margin-left: 12px;
    margin-top: -54px;
    padding: 54px 7px;
    font-size: 40px;
    text-decoration: none;
    background-color: #b8a481;
    border-radius: 50%;
}

#logo img {
    padding: 20px;
    width: 150px;
    height: 86px;
}

#nav {
    margin: 22px;
    padding: 0;
    display: flex;
    z-index: 3;


}

#nav li {
    display: flex;
    align-items: center;
    margin: 22px;
    margin-bottom: 28px;
    z-index: 3;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 700;
    z-index: 3;
}

#nav li hr {
    width: 30px; 
    height: 0; 
    border: 1px solid #b8a481;
    opacity: 1;
}

#nav li i {
    font-size: 4px;
    color: #b8a481;
}

.menu-icon {
    display: none;
    margin: 12px 24px 0 0;
    padding: 12px 12px 0 12px;
    font-size: 36px;
    color: #fff;
}

.black-text {
    color: #000 !important;
}

.gray-text {
    color: #999 !important;
}

.white-text {
    color: #fff !important;
}

#banner {
    width: 100%;
}

#banner .content-container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.img-banner {
    background-image: url(./img/banner/banner.png);
    top: 0;
    right: 0;
    /* padding-top: 38%; */
    background-size: cover;
    height: 554px;
    background-repeat: no-repeat;
    background-position: center;
}

.text-banner {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 0;
    padding-top: 10%;
    z-index: 1;
    color: #e5e5e5;
    margin: 36px 0;
}

.text-banner h1 {
    color: #000;
}

.text-banner p {
    font-size: 18px;
    font-weight: 500;
}

.item-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;

    z-index: 1;
    padding: 0 30px;
}

.item-banner hr {
    width: 30px;  
    border: 1px solid #b8a481;
    opacity: 1;
    margin: 32px 0;
}

.item-banner p {
    margin: 8px;
    font-weight: 600;
    color: #b8a481;
}

.item-banner i {
    color: #b8a481;
}

.slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 12px 36px;
}

.slide i {
    margin: 8px;
}

.slide h2 {
    padding: 10px 0px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px -2px rgb(0 0 0 / 50%);
    background-color: #fff;
}

.slide h6 {
    margin-top: 8px;
}

.slide hr{
    height: 30px;
    width: 0;
    margin: 12px 28px;
}

.gear-up {
    margin-bottom: 100px;
}

.logo-banner {
    display: flex;
    font-size: 100px;
}

#first-content .content-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.bg-light, .bg-white {
    padding: 120px 0;
}

.bg-light {
    background-color: #ededed !important;
}

.text-content h5 {
    margin-bottom: 36px;
    font-weight: 700;
}

.text-content hr {
    width: 66px;  
    border: 1px solid #fe9a59;
    opacity: 1;
    margin: 32px 0;
}

.img-left {
    position: relative;
    display: flex;
    background-image: url(./img/content/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 344px;
    padding: 0;
    justify-content: end;
}

.img-left h1 {
    margin-right: 36px;
}

.img-left p {
    margin-right: 12px;
    font-weight: 500;
}

.text-img-left {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin: auto;
    margin-right: 0;
}

.box-img-left {
    position: absolute;
    top: 70px;
    border: 2px solid #b8a481;
    border-right: none;
    width: 300px;
    height: 200px;
}

.text-left {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 240px;
    padding: 24px;
    font-size: 14px;
}

.text-left p {
    max-width: 240px;
}

.box-text-left {
    position: absolute;
    top: 18px;
    left: 0;
    border: 2px solid #b8a481;
    border-left: none;
    width: 330px;
    height: 200px;
}

.img-right {
    position: relative;
    display: flex;
    background-image: url(./img/content/img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 344px;
    padding: 0;
    justify-content: start;
}

.img-right h1 {
    margin-left: 72px;
    padding-bottom: 36px;
}

.img-right p {
    margin-right: 12px;
    padding-top: 36px;
    font-weight: 500;
}

.text-img-right {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: auto;
    margin-left: 0;
}

.box-img-right {
    display: flex;
    position: absolute;
    top: 70px;
    border: 2px solid #b8a481;
    border-left: none;
    text-align: end;
    justify-content: end;
    align-items: center;
    width: 300px;
    height: 200px;
}

.text-right {
    position: relative;
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: end;
    min-height: 240px;
    padding: 24px;
    font-size: 14px;
}

.text-right p {
    max-width: 240px;
}

.box-text-right {
    position: absolute;
    top: 18px;
    right: 0;
    border: 2px solid #b8a481;
    border-right: none;
    width: 330px;
    height: 200px;
}

.header-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-content-items {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-content-items hr {
    width: 80px; 
    height: 0; 
    border: 1px solid #b8a481;
    opacity: 1;
}

.header-content-items p {
    background-color: #b8a481;
    padding-left: 6px;
    padding-right: 120px;
    margin: 0 8px;
}

.collection-content {
    display: flex;
    justify-content: center;
}

.img-collection-1 {
    background-image: url(./img/content/img3.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 554px;
    padding: 0;
}

.img-collection-1 h2 {
    margin: 0 8px;
}

.img-collection-1 hr {
    width: 80px; 
    height: 0; 
    border: 1px solid #999;
    opacity: 1;
}

.text-collection-1 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.text-collection-1 h4 {
    max-width: 240px;
    font-weight: 700;
}

.text-collection-1 p {
    max-width: 240px;
}

.text-collection-1 a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    word-break: keep-all;
}

.text-collection-1 hr:first-child {
    width: 0; 
    height: 40px; 
    border: 1px solid #000;
    opacity: 1;
}

.text-collection-1 img {
    border-left: 1px solid #000;
    opacity: 1;
    margin: 12px;
    padding: 12px;
    padding-bottom: 48px;
    width: 150px;
    z-index: 2;
}

.img-collection-2 {
    background-image: url(./img/content/img4.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 322px;
    padding: 0;
}

.img-collection-2 h2 {
    margin: 0 8px;
}

.text-collection-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 100px;
}

.text-collection-2 h4 {
    font-weight: 700;
}

.text-collection-2 p {
    max-width: 240px;
}

.text-collection-2 div{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
}

.text-collection-2 div:first-child{
    width: 50%;
}

.text-collection-2 a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    word-break: keep-all;
}

.text-collection-2 hr:first-child {
    width: 0; 
    height: 110px; 
    border: 1px solid #000;
    opacity: 1;
    margin: 0;
}

.text-collection-2 img {
    border-left: 1px solid #000;
    opacity: 1;
    margin: 12px;
    padding: 12px;
    padding-bottom: 48px;
    width: 150px;
    z-index: 2;
}

.collection-content-3 {
    justify-content: center;
    margin-top: 200px;
    padding-left: 100px;
}

.img-collection-3 {
    background-image: url(./img/content/img5.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 322px;
    width: 482px;
    padding: 0;
}

.text-collection-3 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 44px;
}

.text-collection-3 h4 {
    max-width: 240px;
    font-weight: 700;
}

.text-collection-3 p {
    max-width: 240px;
}

.text-collection-3 a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    word-break: keep-all;
}

.text-collection-3 img {
    border-left: 1px solid #000;
    opacity: 1;
    margin: 12px;
    padding: 12px;
    padding-bottom: 48px;
    width: 150px;
    z-index: 2;
}

.collection-content-4 {
    position: absolute;
    justify-content: end;
    bottom: 0;
    margin-bottom: 132px;
    padding-right: 132px;
}

.img-collection-4 {
    background-image: url(./img/content/img6.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 322px;
    width: 450px;
    padding: 0;
}

.text-collection-4 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 174px;
}

.text-collection-4 h1 {
    max-width: 240px;
    font-weight: 700;
    color: #fff;
    text-shadow: -1px 4px rgb(0 0 0 / 50%)
}

.text-collection-4 img {
    border-left: 1px solid #000;
    opacity: 1;
    margin: 12px;
    padding: 12px;
    padding-bottom: 48px;
    width: 150px;
    z-index: 2;
}

.collection-content-5 {
    margin-top: 300px;
}

.collection-content-5 div:last-child {
    position: absolute;
    right: 48px;
    bottom: 0;
}

.container {
    position: relative;
}

.collection-content {
    padding-top: 36px;
}

.collection-content-2 {
    position: absolute;
    top: 580px;
    justify-content: center;
}

footer {
    background-color: #f8f9fa;
    padding: 24px 0px 1px;
    text-align: center;
    height: auto;
    margin: 0 !important;
}

footer h6,
footer p {
    text-align: start;
    margin: 0;
}

footer .send-email p {
    text-align: start;
    margin: 24px 0;
}

footer input {
    border: none;
    height: 30px;
    width: 202px;
}

footer button {
    border: none;
    background-color: #333;
    color: #fff;
    width: 40px;
    height: 30px;
}

footer .send-email {
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

footer .address {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nav-footer {
    margin: 22px;
    padding: 0;
    display: flex;

}

.nav-footer li {
    /* display: flex; */
    align-items: center;
    margin: 22px;
    list-style: none;
}

.nav-footer li a {
    color: #fff;
    /* opacity: .8; */
    text-decoration: none;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 700;
    word-break: keep-all;
}

.nav-footer li hr {
    width: 30px; 
    height: 0; 
    border: 1px solid #b8a481;
    opacity: 1;
}

.nav-footer li i {
    font-size: 4px;
    color: #b8a481;
}

.dropdown-toggle::after {
    display: none;
}

@media (max-width: 1400px) {
    .collection-content-2 {
        top: 540px;
    }
    .collection-content-4 {
        padding-right: 0;
    }
}

@media (max-width: 1200px) {
    .text-collection-1 {
        margin-top: 50px;
    }
    .collection-content-2 {
        top: 474px;
    }
    .collection-content-3 {
        margin-top: 170px;
        padding-left: 0;
    }
    .text-collection-3 {
        padding: 0;
        width: 300px;
    }
}

@media (max-width: 1024px) {
    .collection-content-2 {
        top: 434px;
    }

    #nav {
        margin: 10px;
    }
    
    #nav li {
        margin: 10px;
    }

    .img-collection-1 {
        height: 378px;
    }

    .text-collection-1 {
        margin-top: 0px;
    }

    .collection-content-3 {
        margin-top: 280px;
    }

    .collection-content-4 {
        margin-bottom: 120px;
        justify-content: center;
    }

    .collection-content-5 {
        margin-top: 360px;
    }

    footer input {
        width: 142px;
    }
    
    footer .send-email {
        width: 242px;
    }
}

@media (max-width: 991px) {
    header .black-text {
        color: #fff !important;
    }

    .bg-light, .bg-white {
        padding: 0 0;
    }

    .img-banner {
        position: absolute;
        height: 442px;
    }

    .text-collection-2 {
        padding-right: 0;
    }

    .collection-content-3 {
        margin-top: 220px;
        padding: 0;
    }

    .img-collection-2 {
        align-items: center;
        width: 450px;
    }

    .text-collection-3 {
        padding: 0;
        width: 160px;
    }

    .collection-content-4 {
        margin-bottom: 82px;

    }

    footer {
        margin-top: 120px !important;
    }
}

@media (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    .container {
        margin: auto;
        padding: 0;
    }

    #nav {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .img-collection-1 {
        height: 302px;
        width: 450px;
    }

    .text-collection-1 {
        width: 450px;
    }

    .collection-content-1,
    .collection-content-2 {
    }

    .collection-content-2,
    .collection-content-4 {
        position:static;
    }

    .text-collection-2,
    .img-collection-4 {
        width: 450px;
    }

    .collection-content-3 {
        margin-top: 0;
    }

    .text-collection-3 {
        width: 450px;
        margin: 0;
    }

    .text-collection-4 {
        width: 450px;
        margin-top: 0;
    }

    .collection-content-5 {
        margin-top: 0;
        padding-left: 24px;
    }

    .collection-content-5 div:last-child {
        display: none;;
    }

    footer .send-email {
        width: 304px;
    }

    footer input {
        width: 200px;
    }

    .nav-footer {
        margin: 0px;
    
    }
    
    .nav-footer li {
        margin: 0px;
    }
}